@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Message<br />

        OPENID:   @ViewBag.UserInfo.openid<br />
        Nickname:  @ViewBag.UserInfo.nickname<br />
        headimgurl : @ViewBag.UserInfo.headimgurl<br />
        <img src="@ViewBag.UserInfo.headimgurl" width="128" height="128"  />
    </div>
</body>
</html>
